body {
    background: white;
    
}

.hub-card {
    
    height: 70%;
    width: 50%;
    margin-bottom: 20px;
    border-style: insets;
    padding-bottom: 5%;
    text-align: center;
    border-style: inset;
    margin: auto;
    
}

img {
    height: 190px;
    width: 300px;
    box-shadow:5px 5px 5px grey;
    margin-bottom: -5px;
    left: 15px;

}

.like-button {
    position: relative;
    transform: rotate(270deg);
    left: 35px;
    top: -80px;
    
}

.delete-button {
    position:relative;
    
    right: -30px;
}



h1 {
    margin-top: 0%;
    text-align: center;
}

h2 {
    margin-top: -15px;
}

form {
    text-align: center;
    position: relative;
    bottom: 20%;
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 120px;
  }
  
  .dropdown-info {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    height: 200px;
    width: 400px;
    box-shadow: 5px 5px 5px grey;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-info {
    display: block;
  }
